.list-lider-top {
    overflow-y: auto;
    margin-top: 24px;
    height: 86vh;
}

.list-lider-top .lider-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


 .id-item{
    font-size: 20px;
    margin-right: 6px;
}
.amount{
    color: var(--tgui--green);
    font-weight: 400;
    font-size: 17px;
}

.top__item {
    display: flex;
    align-items: center;
    gap:16px;
}